{% extends 'myapp2/base.html' %}


{% block body %}

{{title}}
{{not_found}}
{% if form %}


<!-- <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Save</button>
</form> -->

<div class="p-10 flex justify-center items-center bg-gradient-to-tr from-green-400 to-green-500">
    <form method="post" class="bg-white py-6 px-10 flex flex-col space-y-6 ">

        {% csrf_token %}
        {% if form.non_field_errors %}
        <ul>
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% for field in form.visible_fields %}
        <div class="flex flex-col space-y-1">
            <div class="text-green-500 font-semibold " >{{ field.label_tag }}</div>
            <div>
                {% if field.errors %}
                <div class="text-sm text-red-400 text-semibold">
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="flex flex-col items-start">
                    {{ field }}
                </div>

                {% if field.help_text %}
                <div class="text-sm  text-gray-600 text-opacity-80" >
                    {{ field.help_text }}
                </div>
                {% endif %}

            </div>
        </div>
        {% endfor %}
        <button type="submit" class="bg-green-500 text-lg w-2/4 mx-auto text-white font-semibold  py-2 focus:outline-none hover:bg-green-400 transition duration-300 shadow">save</button>
    </form>
</div>

{% endif %}

{% endblock %}
