{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}">
</head>
<body>
    <div class="w-screen h-screen flex justify-center items-center bg-gradient-to-tr from-green-400 to-green-500">
        <form method="post" class="bg-white p-10 rounded shadow-lg">
            {% csrf_token %}
            <p class="text-xl text-center text-gray-700 mb-4" >Are you sure?</p>
            <button type="submit" class="bg-green-400 py-2 px-3 rounded text-white font-bold shadow hover:bg-green-500 focus:outline-none transition duration-300" >Confirm</button>
            <button onclick="window.history.back()" type="button" class="bg-red-400 p-2 px-4 rounded text-white font-bold shadow ml-4 hover:bg-red-500 focus:outline-none transition duration-300"  >Cancel</button>
        </form> 
    </div>
</body>
</html>