<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myapp2</title>
</head>

<body>
    {% for students in students_list %}
    <p>
        <img src="images/{{students.image}}" >
        <a href="./student/{{students.id}}">
            {{students.name}}
        </a>
        <a href="./update/{{students.id}}">update</a>
        <a href="./delete/{{students.id}}">Delete</a>
    </p>
    {% endfor %}
    <a href="./add">add</a>
</body>

</html>