<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    item info page

    <a href="../">back</a>
    <ul>
        <li>{{ item_info.id }}</li>
        <li>{{ item_info.item_name }}</li>
        <li>{{ item_info.item_desc }}</li>
        <li>{{ item_info.item_price }}</li>
        <a href="../delete/{{ item_info.id }}">X</a>
        <a href="../update/{{ item_info.id }}">update</a>
    </ul>


</body>

</html>